.block1 {
    padding: 17px;
    border: 7px outset rgb(255, 0, 0);
    margin: 10px;
    display: inline-block;
}

.block2 {
    padding: 17px;
    border: 7px dashed rgb(0, 255, 0);
    margin: 10px;
    display: inline-block;
}

.block3 {
    padding: 17px;
    border: 7px dotted rgb(72, 0, 255);
    margin: 10px;
    display: inline-block;
}

.block4 {
    padding: 17px;
    border: 7px double rgb(0, 255, 225);
    margin: 10px;
    display: inline-block;
}

.block5 {
    padding: 17px;
    border: 7px groove rgb(255, 0, 230);
    margin: 10px;
    display: inline-block;
}
.block6 {
    padding: 17px;
    border: 7px inset rgb(255, 242, 0);
    margin: 10px;
    display: inline-block;
}
.block7 {
    padding: 17px;
    border: 7px solid rgb(0, 0, 0);
    margin: 10px;
    display: inline-block;
}
span {
    display: inline-block;
    padding: 5px;
    border: 5px solid #FF4500;
    background-color: #FFA500;
}
.p1 {
    width: 400px;
    text-align: center;
    border: solid #FF7F50;
}
.p2 {
    border: 5px solid red;
    border-radius: 20px/40px;
    box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.p3 {
    border: solid #FF6347;
}